In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [2]:
#Y=MX+B

In [3]:
df=pd.read_csv("insurance.csv")

In [4]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [5]:
df=pd.get_dummies(df,['sex','smoker','region'],drop_first=True)

In [6]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [7]:
y=df[['charges']]
x=df.drop(columns='charges',axis=1)

In [8]:
lm=LinearRegression()
model=lm.fit(x,y)

In [9]:
model.score(x,y)

0.7509130345985207

In [10]:
model.predict([[19,26,0,1,1,0,0,1]])

c:\Users\serkan\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[24517.93110714]])

In [11]:
df_hata=pd.DataFrame()

In [12]:
df_hata['y']=y

In [13]:
y_tahmin=model.predict(x)

In [14]:
df_hata['tahmin']=y_tahmin

In [15]:
df_hata['error']=y-y_tahmin

In [16]:
df_hata

                y        tahmin         error
0     16884.92400  25293.713028  -8408.789028
1      1725.55230   3448.602834  -1723.050534
2      4449.46200   6706.988491  -2257.526491
3     21984.47061   3754.830163  18229.640447
4      3866.85520   5592.493386  -1725.638186
...           ...           ...           ...
1333  10600.54830  12351.323686  -1750.775386
1334   2205.98080   3511.930809  -1305.950009
1335   1629.83350   4149.132486  -2519.298986
1336   2007.94500   1246.584939    761.360061
1337  29141.36030  37085.623268  -7944.262968

[1338 rows x 3 columns]

In [17]:
df_hata['squared_error']=df_hata['error']**2

In [18]:
df_hata['abs_error']=np.abs(df_hata['error'])

In [19]:
df_hata.head(3)

            y        tahmin        error  squared_error    abs_error
0  16884.9240  25293.713028 -8408.789028   7.070773e+07  8408.789028
1   1725.5523   3448.602834 -1723.050534   2.968903e+06  1723.050534
2   4449.4620   6706.988491 -2257.526491   5.096426e+06  2257.526491

In [20]:
df_hata['perecent_error']=np.abs((y-y_tahmin)/y)*100

In [21]:
df_hata.head(3)

,y,tahmin,error,squared_error,abs_error,perecent_error
0,16884.9240,25293.713028,-8408.789028,7.070773e+07,8408.789028,49.800574
1,1725.5523,3448.602834,-1723.050534,2.968903e+06,1723.050534,99.855017
2,4449.4620,6706.988491,-2257.526491,5.096426e+06,2257.526491,50.737066

In [22]:
df_hata.mean()

y                 1.327042e+04
tahmin            1.327042e+04
error             6.688661e-13
squared_error     3.650189e+07
abs_error         4.170887e+03
perecent_error    4.203527e+01
dtype: float64

In [23]:
mean_squared_error(y,y_tahmin)

np.float64(36501893.00741544)

In [24]:
mean_absolute_error(y,y_tahmin)

np.float64(4170.8868941635865)

In [25]:
mean_absolute_percentage_error(y,y_tahmin)

np.float64(0.42035268473727033)