In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [7]:
df=pd.read_csv("Plane Price.csv")
df.head(3)

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370,1300000.0
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190,1230000.0
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210,1600000.0

In [8]:
df=df[["Rcmnd cruise Knots","Stall Knots dirty","Fuel gal/lbs","Eng out rate of climb","Price"]]

In [15]:
df.head(3)
df=df.dropna()

In [10]:
y=df['Price']
x=df.drop(columns='Price')

In [19]:
ss=StandardScaler()
x2=ss.fit_transform(x)
x2=pd.DataFrame(x2)
x2.head(3)

          0         1         2         3
0 -1.053901 -0.889150 -0.323659 -1.014158
1 -1.130693 -1.009340 -0.328573 -1.170835
2 -1.178688 -1.430002 -0.327637 -1.384090

In [22]:
x2[2].mean()

np.float64(2.7487146451067706e-17)

In [24]:
x2[2].std()

np.float64(1.000968523229439)

In [25]:
mm=MinMaxScaler()

In [33]:
x3=mm.fit_transform(x)
x3=pd.DataFrame(x3)
x3.head(3)

          0         1         2         3
0  0.047619  0.215909  0.000586  0.074541
1  0.029478  0.193182  0.000073  0.044254
2  0.018141  0.113636  0.000171  0.003029

In [34]:
x3[0].mean()

np.float64(0.29658253834078013)

In [36]:
x3[0].max()

np.float64(1.0)

In [37]:
x3[0].min()

np.float64(0.0)